body {
    background-color: #e0e0e0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }


  .full-name {
     text-align: left;
  }

  .email {
    text-align: left;
 }

 .phone-number {
    text-align: left;
 }

 .address {
    text-align: left;
    
 }

 .github {
   text-align: left;
   
}
 .relevant-skills {
    text-align: left;
    
   
 }

 .certifications {
    text-align: left;
    
 }

 .headline {
   font-weight: bold;
   
}

.job-title {
   font-style: italic;
   
}


